<html 	xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="https://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
    <title>Blaze It</title>
    <link rel="stylesheet" href="search.css">
    <link rel = "icon" href ="home/logo.png" type = "image/x-icon">
</head>

<body id="home">
<div id="header">
    <a href="index"><img src="home/logo.png" class="logo"></a>
    <div class="search-container">
        <form action="X">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit">Pesquisa </button>
        </form>
        <a href="advanced_search" class="asearch">Advanced Search</a>
        <!--NÃO LOGGED IN-->
        <div sec:authorize="isAnonymous()">
            <a th:href="@{/login}">Login</a>
            <span style="padding-left: 10px; padding-right: 10px"> | </span>
            <a th:href="@{/join}">Join</a>
        </div>

        <!--LOGGED IN-->
        <div sec:authorize="isAuthenticated()">
            <span style="color:white">Olá,  </span>
            <a th:href="@{/account/registos}" th:method="post" sec:authentication="name"></a>
            <span style="padding-left: 10px; padding-right: 10px"> | </span>
            <form th:action="@{/logout}" method="post" style="display: inline-block;">
                <input type="submit" class="signOut" value="Logout">
            </form>
        </div>
    </div>

</div>
<div id="show">
    Esta é a página ADMIN
    <div id="search">
        <form th:action="@{/admin}" th:object="${Produto}"method="post">
            <div class="prange">
                <input type="text" th:field="*{nome}" placeholder="Nome do produto" name="search"/>
            </div>

            <div class="prange">
                <input type="text" th:field="*{id}" placeholder="" name="search"/>
            </div>


            <div class="brands">
                <p>Marcas</p>
                <input id = "brand1" name="marca" type = "radio" value="Zippo" th:field="*{marca}"/>
                <label for = "brand1">Zippo</label>
                <input id = "brand2" name="marca" type = "radio" value="Clipper" th:field="*{marca}"/>
                <label for = "brand2">Clipper</label>
                <input id = "brand3" name="marca" type = "radio" value="Cohiba" th:field="*{marca}"/>
                <label for = "brand3">Cohiba</label>
                <input id = "brand4" name="marca" type = "radio" value="Outro" th:field="*{marca}"/>
                <label for = "brand4">Outro</label>
            </div>

            <div class="fuel">
                <p>Combústivel</p>
                <input id = "fuel1" name="fuel" type = "radio" value="Gás" th:field="*{fuel}"/>
                <label for = "fuel1">Gás</label>
                <input id = "fuel2" name="fuel" type = "radio" value="Benzina" th:field="*{fuel}"/>
                <label for = "fuel2">Benzina</label>
                <input id = "fuel3" name="fuel" type = "radio" value="Eletrico" th:field="*{fuel}"/>
                <label for = "fuel3">Eletrico</label>
            </div>

            <div class="color">
                <p>Cor</p>
                <input type="checkbox" id="cor1" name="cor1" value="Azul"/>
                <label for="cor1">Azul</label>
                <input type="checkbox" id="cor2" name="cor2" value="Amarelo"/>
                <label for="cor2">Amarelo</label>
                <input type="checkbox" id="cor3" name="cor3" value="Verde"/>
                <label for="cor3">Verde</label>
                <input type="checkbox" id="cor4" name="cor4" value="Vermelho"/>
                <label for="cor4">Vermelho</label>
                <input type="checkbox" id="cor5" name="cor5" value="Rosa"/>
                <label for="cor5">Rosa</label>
                <br><br>
                <input type="checkbox" id="cor6" name="cor6" value="Roxo"/>
                <label for="cor6">Roxo</label>
                <input type="checkbox" id="cor7" name="cor7" value="Dourado"/>
                <label for="cor7">Dourado</label>
                <input type="checkbox" id="cor8" name="cor8" value="Prata"/>
                <label for="cor8">Verde</label>
                <input type="checkbox" id="cor9" name="cor9" value="Preto"/>
                <label for="cor9">Preto</label>
                <input type="checkbox" id="cor10" name="cor10" value="Branco"/>
                <label for="cor10">Branco</label>
            </div>

            <div class="prange">
                <p>Valor</p>
                <label for="price">Valor: </label>
                <input type="text" th:field="*{preco}" id="price" name="min_price" value="0€"/>
            </div>

            <input type="submit" value="Introduzir"/>
        </form>
    </div>

    <div id="categories">
        <a href="#">Clippers</a>
        <a href="#">Eletricos</a>
        <a href="#">Zippos</a>
        <a href="#">Wind Proof</a>
        <a href="#">Outros</a>
    </div>
</div>
<div id="about">
    <a href="X">About this page</a>
</div>

</body>
</html>