<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
		<title>Blaze It</title>
		<link rel="stylesheet" href="Product.css">
		<link rel = "icon" href ="Media/Home/logo.png" type = "image/x-icon"> 
	</head>
	
	<body id="home">
		<div id="header">
			<a href="index.html"><img src="Media/Home/logo.png" class="logo"></a>
			<div class="search-container">
				<form action="X">
					<input type="text" placeholder="Search.." name="search">
					<button type="submit">Pesquisa </button>
				</form>
				<a href="advanced_search" class="asearch">Advanced Search</a>
			</div>
			
		</div>
		<div id="show">
			<div id="product">
				<a href="Media/Products/Clippers/clipper1.jpg"><img src="Media/Products/Clippers/clipper1.jpg"></a>
				<div class="info">Desccrição do produto irá num futuro próximo ser escrita dentro desta tag p, para todos ficarem a saber oq ue é este produto</div>
				<div class="values">
					<p class="price">Preço: 9.99€</p>
					<p class="tax">Taxa de transporte: 3.00€</p>
					<time>Data limite de entrega: 27/11/2020</time>
					<p class="payment">Métodos de pagamento: Multibanco</p>
					<form action="x">
						<label for="quantity">Quantidade:</label>
						<input type="number" min="1" max="">	
						<button type="submit">Comprar </button>
					</form>
				</div>
			</div>
			
			<div id="categories">
				<a href="#">Clippers</a>
				<a href="#">Eletricos</a>
				<a href="#">Zippos</a>
				<a href="#">Wind Proof</a>
				<a href="#">Outros</a>
			</div>
		</div>
		<div id="about">
			<a href="X">About this page</a>
		</div>
		
	</body>
</html>