<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
		<title>Blaze It</title>
		<link rel="stylesheet" type="text/css" th:href="@{/static/ProductsList.css}"/>
		<link rel = "icon" th:href ="@{static/Home/logo.png}" type = "image/x-icon">
	</head>
	
	<body id="home">
		<div id="header">
			<a href="/"><img th:src="@{resources/static/Home/logo.png}" class="logo"></a>
			<div class="search-container">
				<form action="X">
					<input type="text" placeholder="Search.." name="search">
					<button type="submit">Pesquisa </button>
				</form>
				<a href="advanced_search" class="asearch">Advanced Search</a>
				<!--NÃO LOGGED IN-->
				<div sec:authorize="isAnonymous()">
					<a th:href="@{/login}">Login</a>
					<span style="padding-left: 10px; padding-right: 10px"> | </span>
					<a th:href="@{/join}">Join</a>
				</div>

				<!--LOGGED IN-->
				<div sec:authorize="isAuthenticated()">
					<span>Olá, </span>
					<a th:href="@{/account/registos}" th:method="post" sec:authentication="name"></a>
					<span style="padding-left: 10px; padding-right: 10px"> | </span>
					<form th:action="@{/logout}" method="post" style="display: inline-block;">
						<input type="submit" class="signOut" value="Logout">
					</form>
				</div>
			</div>
			
		</div>
			<div id="products">
				<div class="pages">
				
					<div class="counter">A mostrar 5 de 25</div>
					
					<div class="page" id="page1">
						<div class="produto">
							<a href="product">
								<img th:src="@{/static/Products/Clippers/clipper1.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
						
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/Eletrico/eletrico1.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
						
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/Others/outro1.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
						
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/WindProof/windproof1.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
						
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/Zippos/zippo1.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
					</div>
					
					<div class="page" id="page2">
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/Clippers/clipper2.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
						
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/Eletrico/eletrico2.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
						
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/Others/outro2.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
						
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/WindProof/windproof2.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
						
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/Zippos/zippo2.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
					</div>
					
					<div class="page" id="page3">
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/Clippers/clipper3.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
						
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/Eletrico/eletrico3.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
						
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/Others/outro3.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
						
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/WindProof/windproof3.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
						
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/Zippos/zippo3.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
					</div>
					
					<div class="page" id="page4">
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/Clippers/clipper4.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
						
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/Eletrico/eletrico4.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
						
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/Others/outro4.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
						
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/WindProof/windproof4.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
						
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/Zippos/zippo4.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
					</div>
					
					<div class="page" id="page5">
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/Clippers/clipper5.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
						
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/Eletrico/eletrico5.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
						
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/Others/outro5.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
						
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/WindProof/windproof5.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
						
						<div class="produto">
							<a href="product"><img th:src="@{/static/Products/Zippos/zippo5.jpg}"></a>
							<div class="texto">
								<div class="modelo"><a href="product">Clippers Psy</a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="navpages"> 
					<a class="pagenum1" href="#page1">1</a>
					<a class="pagenum2" href="#page2">2</a>
					<a class="pagenum3" href="#page3">3</a>
					<a class="pagenum4" href="#page4">4</a>
					<a class="pagenum5" href="#page5">5</a>
				</div>
			</div>
			
			<div id="categories">
				<a href="#">Clippers</a>
				<a href="#">Eletricos</a>
				<a href="#">Zippos</a>
				<a href="#">Wind Proof</a>
				<a href="#">Outros</a>
			</div>
		
		<div id="about">
			<a href="error">About this page</a>
		</div>
		
	</body>
</html>