<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
		<title>Blaze It</title>
		<link rel="stylesheet" type="text/css" href="ProductsList.css"/>
		<link rel = "icon" href ="home/logo.png" type = "image/x-icon">

		<style>
			body {
				background-image: url('/home/background.jpg');
				background-size: 100%;
			}
		</style>
	</head>
	
	<body id="home">
		<div id="header">
			<a href="/"><img src="home/logo.png" class="logo"></a>


			<div class="search-container">
				<form th:object="${produto}" method="post">
					<div>
						<label for="produtos">Subject: </label>
						<input type="text" name="produtos" th:field="*{produtos}">
						<input type="submit" value="Search">
					</div>
				</form>
				<a href="advanced_search" class="asearch">Advanced Search</a>
				<!--NÃO LOGGED IN-->
				<div sec:authorize="isAnonymous()">
					<a th:href="@{/login}">Login</a>
					<span style="padding-left: 10px; padding-right: 10px"> | </span>
					<a th:href="@{/join}">Join</a>
				</div>

				<!--LOGGED IN-->
				<div sec:authorize="isAuthenticated()">
					<span style="color:white">Olá, [[${#httpServletRequest.remoteUser}]]! </span>
					<span style="padding-left: 10px; padding-right: 10px"> | </span>
					<form th:action="@{/logout}" method="post" style="display: inline-block;">
						<input type="submit" class="signOut" value="Logout">
					</form>
				</div>
			</div>
			
		</div>
			<div id="products">
				<div th:each="produto: ${produtos}">
						<div class="produto">
							<a href="productdisplay">
								<img src="products/Clippers/clipper1.jpg"></a>
							<div class="texto">
								<div class="modelo"><a href="productdisplay" th:text="${produto.nome}"></a></div>
								<div class="descrição">Coleção clippers psy com suas imagens psicadelicas</div>
								<div class="preço">Preço 4€</div>
							</div>
						</div>
				</div>
			</div>
			
			<div id="categories">
				<a href="#">Clippers</a>
				<a href="#">Eletricos</a>
				<a href="#">Zippos</a>
				<a href="#">Wind Proof</a>
				<a href="#">Outros</a>
			</div>
		
		<div id="about">
			<a href="error">About this page</a>
		</div>
		
	</body>
</html>