<html
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="https://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
		<title>Blaze It</title>
		<link rel="stylesheet" th:href="@{/Product.css}">
		<link rel = "icon" href ="home/logo.png" type = "image/x-icon">
	</head>
	
	<body id="home">
		<div id="header">
			<a href="/"><img th:src="@{/home/logo.png}" class="logo"></a>
			<div class="search-container">
				<form th:action="@{/}">
					<input type="text" placeholder="Search.." name="keyword", id="keyword" th:value="${keyword}" required>
					<button type="submit" value="Search">Pesquisa </button>
				</form>
				<a href="advanced_search" class="asearch">Advanced Search</a>
				<!--NÃO LOGGED IN-->
				<div sec:authorize="isAnonymous()">
					<a th:href="@{/login}">Login</a>
					<span style="padding-left: 10px; padding-right: 10px"> | </span>
					<a th:href="@{/join}">Join</a>
				</div>

				<!--LOGGED IN-->
				<div sec:authorize="isAuthenticated()">
					<span style="color:white">Olá,  </span>
					<a th:href="@{/admin}" th:method="post" sec:authentication="name"></a>
					<span style="padding-left: 10px; padding-right: 10px"> | </span>
					<form th:action="@{/logout}" method="post" style="display: inline-block;">
						<input type="submit" class="signOut" value="Logout">
					</form>
				</div>
			</div>
			
		</div>
		<div id="show">
			<div id="product" th:each="product : ${listProducts}">
				<p class="nomeproduto"><td th:text="${product.nome}"></td></p>
				<br>
				<a href="products/Clippers/clipper1.jpg"><img th:src="@{${'/products/'+ product.id+'.jpg'}}"></a>
				<div class="info">Desccrição do produto irá num futuro próximo ser escrita dentro desta tag p, para todos ficarem a saber oq ue é este produto</div>
				<div class="values">
					<p class="price">Preço:<td th:text="${product.preco}">€</td></p>
					<p class="tax">Taxa de transporte: 3.00€</p>
					<time>Data limite de entrega: 27/11/2020</time>
					<p class="payment">Métodos de pagamento: Multibanco</p>
					<form action="x">
						<!--<label for="quantity">Quantidade:</label>-->
						<input type="number" min="1" max="">	
						<button type="submit">Comprar </button>
					</form>
				</div>
			</div>

			<div id="categories">
				<a href="/?keyword=Clippers">Clippers</a>
				<a href="/?keyword=Eléctricos">Eletricos</a>
				<a href="/?keyword=Zippos">Zippos</a>
				<a href="/?keyword=WindProof">Wind Proof</a>
				<a href="/?keyword=Outros">Outros</a>
			</div>
		</div>
		<div id="about">
			<a href="X">About this page</a>
		</div>
		
	</body>
</html>