body{
	background-image: url("home/background.jpg");
	background-size: 100%;
		
}

#header{
	
	background-size: 100% 100%;
	margin-bottom:20px;
	width:100%;

}
	.brand{
		text-align:center;
	}
	.logo{
		
		width:250px;
	}
	
	#header .search-container {
		float: right;
		display:block;
		margin-top:50px;
	}
	
	#header .search-container form{
		float: left;
	}
	
	#header input[type=text] {
		padding: 6px;
		border: none;
		margin-right: 5px;
		font-size: 17px;
	}
	  
	#header button[type=submit] {
		padding: 6px;
		border: none;
		margin-right: 5px;
		font-size: 17px;
		border-top: 1px solid #CCCCCC;
		border-right: 1px solid #333333;
		border-bottom: 1px solid #333333;
		border-left: 1px solid #CCCCCC;
	  }
	  
	.asearch {
		display:inline-block;
		text-top:50px;
		font: bold 18px Arial;
		text-decoration: none;
		background-color: #eeeeee;
		color: #333333;
		padding: 7px 6px 4px 6px;
		border-top: 1px solid #CCCCCC;
		border-right: 1px solid #333333;
		border-bottom: 1px solid #333333;
		border-left: 1px solid #CCCCCC;
	}
	
	@media screen and (max-width: 750px) {
		.logo{
			left:5px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 200px;
		}
		#header .search-container form{
			float: none;
			text-align:center;
		}
		#header .search-container {
			float:none;
			display: block;
			margin-left: auto;
			margin-right: auto;
			text-align:center;
		
		}
		
		
		#header .search-container .asearch{
			display:inline-block;
			text-align:center;
			
		}
	}


#categories{
	width:20%;
	background-color:rgb(0,0,0,0.8);
	padding-top: 5px;
	position:fixed;
	overflow:hidden;
	display:block;
	margin:auto;
}

#categories a{
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

#categories a:hover{
	color: #f1f1f1;
}

#categories a:active{
	color: black;
	background-color:white;
	font-weight:bold;
}

#search{
	background-color:rgb(0,0,0,0.8);
	overflow:hidden;
	color:white;
	float:right;
	margin:auto;
	margin-bottom:25px;
	display:block;
	width:78%;
	font-family:"Arial Black", Gadget, sans-serif;
}

	#search form{
		font-family:"Arial Black", Gadget, sans-serif;
		padding:2px;
	}
	
	#search p{
		font-size:20px;
		color:red;
	}
	
	.brands{
		padding-left:5px;
		padding-bottom:10px;
		border-style:groove;
		border-color:orange;
		border-radius:5px;
		margin-bottom:5px;
	}
	
	.fuel{
		padding-left:5px;
		padding-bottom:10px;
		border-style:groove;
		border-color:orange;
		border-radius:5px;
		margin-bottom:5px;
	}

	.color{
		padding-left:5px;
		padding-bottom:10px;
		border-style:groove;
		border-color:orange;
		border-radius:5px;
		margin-bottom:5px;
	}
	
	.prange{
		padding-left:5px;
		padding-bottom:10px;
		border-style:groove;
		border-color:orange;
		border-radius:5px;
		margin-bottom:5px;
	}
	
	#search form input[type=submit]{
		margin-left:40%;
		margin-top:20px;
		background: orange;
		padding: 8px 20px 8px 20px;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		color: #fff;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
		-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
		-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
		box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
		border: 1px solid red;
		font-size: 15px;
	}
	
	#search form input[type=submit]:hover{
		background: red;
		-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
		-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
		box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	}
	
	@media screen and (max-width: 750px) {
		
		#search{
			width:95%;
			float:none;
			
		}
	}
@media screen and (max-width: 750px) {
	#categories{
		margin-top:25px;
		width:100%;
		padding-top: 20px;
		position:relative;
		overflow:hidden;
		margin-bottom:25px;
	}
	
	#product{
		width:100%;
		float:none;
	}
}

#about{
	background-color:rgb(0,0,0,0.8);
	font-family:Impact, Charcoal, sans-serif;
	width:100%;
	text-align:left;
	clear:both;
	padding-top:50px;
	padding-bottom:50px;
}

#about a{
	text-decoration:none;
	color:orange;
	padding-left:50px;
}

#about a:hover{
	color:red;
}